* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
}

header {
    background-color: #1F2937;
    padding: 0 15%;
}

.header-bar {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-bar nav {
    display: flex;
    gap: 20px;
}

.header-link, .hero p {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero {
    display: flex;
    gap: 40px;
    padding: 100px 0;
}

.hero-text-container {
    width: 50%;
}

.hero-text-container h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-text-container button {
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 8px 40px;
    border-radius: 8px;
    margin: 12px 0;
}

.hero-img-container {
    width: 50%;
    background: #707880;
    color: #F9FAF8;
}

.info {
    padding: 70px 20%;
}

.info h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.info-images {
    display: flex;
    min-height: 250px;
    gap: 50px;
    margin-top: 50px;
}

.info-img-container {
    display: flex;
    flex-direction: column;
}

.info-img-container img {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.info-img-container p {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    padding: 5px 0;
}

.quote {
    background: #E5E7Eb;
    padding: 130px 20%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}